<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>
     </title>
  </head>
  <body>
    <h2>Team Hippo - Sophie Nichol, Manfred Tan, Calvin Chu</h2>
    <br>
    <h3>Username: {{username}}</h3>
    <br>
    <h3>Method: {{method}}</h3>
    <br>
    <h3>Welcome!</h3>
  </body>
</html>

<!-- <!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <h1>{{team}}</h1>
    <meta charset="utf-8">
    <title> Forms are still fun! </title>
  </head>
  <body>
    <br>
    <b>Username:</b> {{username}}
    <br>
    <br>
    <br>
    <b>Request Method:</b> {{method}}
    <br>
    <br>
    <br>
    {{greeting}}
  </body>
</html> -->
